

.portfolio-post-content {
     border-right: none;
	 max-width: $portfolio-width;
	 margin: auto;
	 padding: 0;


	 .row{
	 	max-width: 1400px;
	 }

	 .summary{
	 	padding: 10px;
	 	font-size: 1.3em;

	 	@media #{$large-up}{
	 		padding: 20px;
	 	}

		 .staff-coin-list{
		 	display: inline-block;
		 	margin-left: 0;
		 	margin-right: 0;

		 }

	 }

	 .portfolio-post-details{

	 	@media #{$large-up}{
	 		padding: 0 $column-gutter;
	 		padding-bottom: $column-gutter;
	 	}
	 	@media screen and (min-width: $portfolio-width){
	 		padding: 0;
	 		padding-bottom: 25px;
	 		
	 	}

	 	.portfolio-details-nav{
	 		padding-top: $column-gutter;
	 		.btn.continue-reading{
	 
	 		}
	 	}
	 }

	 .portfolio-post-heading{
	 	text-align: center;
		 h1{
		 	margin-top: 0;
		 	font-size: 1.8em;
		 	line-height: 1;
		 	margin-bottom: 0;
		 	padding-bottom: 0;


		 	&:hover{
		 		cursor: pointer;
		 	}

		 	a.external{
		 		transition: all 0.2s ease-in-out;
		 		color: #222;
		 		&:hover{ 
		 			text-decoration: none;
		 	
		 		}
		 		&:hover:after{
		 			font-size: 0.75em;

		 		}
			 	&:after{
			 		font-family: 'theme-icomoon';
					content: "\ea7e";
					font-size: 0.7em;
					padding-left: 5px;
					transition: all 0.2s ease-in-out;
					
				}
		 	}

		 	@media #{$medium-up}{
		 		padding-bottom: 10px;
		 	}


		 }

	 	&:hover, &.active, &:hover  {
	 		

	 		a.external{
	 			color: #08C;
	 		}
	 		
	 	}

	 	&.active{
	 	  #details-toggle {
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			filter: grayscale(100%); 			
	 		}
	 	}

		#details-toggle {
		 	outline: 0;
		 	width: 55px;
		 }
	 }

	 .portfolio-content{
	 	
	 	height: 300px;
	 	overflow: hidden;
	 	@media #{$large-up}{
	 		font-size: rem-calc(23);
	 	}
	 	p:first-of-type{
	 		margin-top: 0;
	 	}
	 	&.active{
	 		overflow: auto;
	 		height: auto;
	 	}
	 }
	 .portfolio-roles{
	 	text-align: center;
	 	padding-top: 15px;
	 	font-size: rem-calc(18);

	 	@media #{$medium-up}{
	 		padding-top: 0;
	 		width: 300px;
	 		float: right;
	 	}

	 	@media #{$large-up}{
	 		
	 		padding-left: $column-gutter/2;
	 		padding-bottom: $column-gutter/2
	 	}



	 	.role{

	 		padding: 10px 0;
	 		&.first{
	 			padding-top: 0;
	 		}
	 	}

	 	h3{
	 		margin: 0;
	 	}

	 }

	 .portfolio-image-list{
	 	img {
	 		width: 100%;
	 		padding-bottom: $column-gutter/2;

	 		@media #{$large-up}{
	 			padding-bottom: $column-gutter;
	 		}
	 	}
	 	&.main-image{
	 		padding-top: 0;
	 		img{
	 			padding-bottom: 0;
	 		}
	 	}

	 }

}

 .post-navigation{
 	text-align: center;
 	font-size: 1.2em;

 	padding-left: $column-gutter/3;
 	padding-right: $column-gutter/3;
 	@media #{$large-up}{
 		padding-left: $column-gutter/2;
 		padding-right: $column-gutter/2;
 	}

 	padding-bottom: $column-gutter;

 	.button-group{
 		line-height: $column-gutter/2;
 	}
 	a{
 		color: #333;
 		background: #f4f4f4;
 		padding: 2em;
 		margin-bottom: 2px;
	 	&:hover,&:focus{
	 		background: #eee;
	 		color: #666;
	 	}
 	}

 }

.main-content{
	.tag-nav{
		padding: 0;
	}
}
