
 .portfolio-card-list{


 	li{
 		min-height: 200px;
 		overflow: hidden;
 		line-height: 67px;
 		&.blog-card{
 			img{ width: 100%}
 		}
 		img{
 			width: 100%;
 		}
 		a{
 			background: #eee;
 			display: block;
 			position: relative;
 		}

 		.portfolio-card-overlay, .portfolio-card-title{
 				opacity: 0;
 				display: block;
 				position: absolute;
 				overflow: hidden;

 		}

 		.portfolio-card-overlay{

 			transition: opacity .25s ease-in-out;
				-moz-transition: opacity .25s ease-in-out;
				-webkit-transition: opacity .25s ease-in-out;
 		}

 		&:hover{
 			.portfolio-card-overlay{

				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: #000;
				-ms-filter: "alpha(opacity=50)";
				filter: alpha(opacity=30);
				-moz-opacity: .5;
				-khtml-opacity: .5;
				opacity: .5;


 			}

 			.portfolio-card-title{
 				display: block;
				position: absolute;
				left: 0;
				top: 35%;
				width: 100%;
				margin-top: -10px;
				text-align: center;
				opacity: 1;
				line-height: 2;

				a, p{
					color: white;
				}

				h2{
					text-transform: uppercase;
 					font-weight: normal;
 					font-size: rem-calc(28);

 					@media #{$large-up}{
 						font-size: rem-calc(36);
 					}
 					margin: 0;
					color: white;
					border-top: 3px solid white;
					border-bottom: 3px solid white;
				}

 			}
 		}
 		.staff-work-list{
 			display: none;
 			margin-left: 0;
 			@media #{$large-up}{
 				display: block;
 			}
 		}
 	}


 	li.browse-container{


 		.browse{

 			min-height: 420px;
 			padding: 0;
	 		p{
	 			font-size: 1.4em;
	 			a{
	 				display: inline;
	 			}
	 		}

 		}

 	}


 }

.portfolio-holder-container.row{
	max-width: $portfolio-width;
}
.portfolio-holder-content {
     border-right: none;
	 margin: auto;
	 padding-bottom: 0;
	 padding-top: $column-gutter;
	 h1{
	 	text-align: center;
	 }
	 h2{

	 	a {
	 		color: #333;

	 	}
	 }


	 .tag-nav{
	 	margin-left: 0;
	 	padding-left: 0;
	 	margin-top: 0;
	 	text-align:center;
	 	li{
	 		a{
	 			background: #E7E7E7;
	 		}
	 		margin-bottom: 0;
	 	}
	 	li a.clear-filters{
	 		background: none;
	 		&:before{
	 			content: 'X';
	 			padding-right: 6px;
	 		}
	 	}

	 	li a.active{
	 		background: #ffce39;
	 	}
	 }

	 .row{
	 	width: 100%;
	 	max-width: 100%;
	 	background: none;
	 }

}