

.portfolio-holder-content {
     border-right: none;
	 max-width: 1400px;
	 margin: auto;
	 padding: rem-calc(20);

	 h2{
	 	text-transform: uppercase;
	 	font-weight: normal;
	 	margin: 0;
	 	a {
	 		color: #333;

	 	}
	 }

	 .portfolio-card-list{

	 	li{

	 		a{
	 			display: block;
	 			position: relative;
	 		}

	 		.portfolio-card-overlay, .portfolio-card-title{
	 			opacity: 0;
	 				display: block;
	 				position: absolute;

	 		}

	 		.portfolio-card-overlay{

	 			transition: opacity .25s ease-in-out;
   				-moz-transition: opacity .25s ease-in-out;
   				-webkit-transition: opacity .25s ease-in-out;
	 		}

	 		&:hover{
	 			.portfolio-card-overlay{

					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: #000;
					-ms-filter: "alpha(opacity=50)";
					filter: alpha(opacity=30);
					-moz-opacity: .5;
					-khtml-opacity: .5;
					opacity: .5;


	 			}

	 			.portfolio-card-title{
	 				display: block;
					position: absolute;
					left: 0;
					top: 45%;
					width: 100%;
					margin-top: -10px;
					text-align: center;
					opacity: 1;

					a, p{
						color: white;
					}

					h2{
						color: white;
						border-top: 3px solid white;
						border-bottom: 3px solid white;
					}

	 			}
	 		}
	 		.staff-work-list{
	 			display: none;
	 			@media #{$large-up}{
	 				display: block;
	 			}
	 		}
	 	}


	 }

	 .tag-nav{
	 	margin-left: 0;
	 	padding-left: 0;
	 	margin-top: 0;
	 	text-align:center;
	 	li{
	 		a{
	 			background: #E7E7E7;
	 		}
	 		margin-bottom: 0;
	 	}
	 	li a.clear-filters{
	 		background: none;
	 		&:before{
	 			content: 'X';
	 			padding-right: 6px;
	 		}
	 	}

	 	li a.active{
	 		background: #ffce39;
	 	}
	 }

	 .row{
	 	width: 100%;
	 	max-width: 100%;
	 	background: none;
	 }

}