
.staff-work-list{
	margin-top: 4px;
	margin-bottom: 4px;
	text-align: center;
	li{
		list-style-type: none;
		display: inline;
	}
	img.more-staff{
		width: 30px;
		opacity: 1;
		transition: opacity 1s ease-in-out;
		-moz-transition: opacity 1s ease-in-out;
		-webkit-transition: opacity 1s ease-in-out;
	}
	img{
		display: inline;

		width: 67px;
		margin: 0px 1px;

		border-radius: 50%;

		@media #{$xlarge-up}{
			width: 67px;
			margin: 0px 2px;
		}
	}
}

.portfolio-holder-content {
     border-right: none;
	 max-width: 1400px;
	 margin: auto;
	 padding: rem-calc(20);

	 h2{
	 	text-transform: uppercase;
	 	a {
	 		color: #333;
	 	}
	 }

	 .portfolio-card-list{

	 	li{

	 		a{
	 			display: block;
	 			position: relative;
	 		}

	 		.portfolio-card-overlay, .portfolio-card-title{
	 			opacity: 0;
	 				display: block;
	 				position: absolute;

	 		}

	 		.portfolio-card-overlay{

	 			transition: opacity .25s ease-in-out;
   				-moz-transition: opacity .25s ease-in-out;
   				-webkit-transition: opacity .25s ease-in-out;
	 		}

	 		&:hover{
	 			.portfolio-card-overlay{

					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: #000;
					-ms-filter: "alpha(opacity=50)";
					filter: alpha(opacity=30);
					-moz-opacity: .5;
					-khtml-opacity: .5;
					opacity: .5;


	 			}

	 			.portfolio-card-title{
	 				display: block;
					position: absolute;
					left: 0;
					top: 45%;
					width: 100%;
					margin-top: -10px;
					text-align: center;
					opacity: 1;

					a, p{
						color: white;
					}

					h2{
						color: white;
						border-top: 3px solid white;
						border-bottom: 3px solid white;
					}

	 			}
	 		}
	 		.staff-work-list{
	 			display: none;
	 			@media #{$large-up}{
	 				display: block;
	 			}
	 		}
	 	}


	 }

	 .tag-nav{
	 	margin-left: 0;
	 	padding-left: 0;
	 	margin-top: 0;
	 	text-align:center;
	 	li{
	 		a{
	 			background: #E7E7E7;
	 		}
	 		margin-bottom: 0;
	 	}
	 	li a.clear-filters{
	 		background: none;
	 		&:before{
	 			content: 'X';
	 			padding-right: 6px;
	 		}
	 	}

	 	li a.active{
	 		background: #ffce39;
	 	}
	 }

	 .row{
	 	width: 100%;
	 	max-width: 100%;
	 	background: none;
	 }

}

.portfolio-post-content {
     border-right: none;
	 max-width: 1400px;
	 margin: auto;
	 padding: 0;

	 .row{
	 	max-width: 1400px;
	 }

	 .summary{
	 	padding: 1em 20px;
	 	font-size: 1.3em;

		 .staff-work-list{
		 	display: inline;
		 	margin-left: 0;
		 	margin-right: 0;
		 }

	 }
	 #details-toggle{
	 	padding-left: 10px;
	 }
	/* #details-toggle:after{
	 	&:hover{
	 		text-decoration: none;
	 	}
	 	padding-left: 5px;
	 	content: '+';
	 }

	 #details-toggle.open:after{
	 	content: '-';
	}*/
	 .portfolio-post-details{
	 	padding: 20px 20px;
	 	background: #eee;
	 }

	 .portfolio-post-heading{
	 	text-align: center;
		 h1{
		 	
		 	font-size: 1.3em;
		 }


	 }

	 .portfolio-roles{
	 	text-align: center;

	 	.role{
	 		padding: 1em 0;
	 		border-bottom: 1px solid #ddd;
	 	}

	 	h3{
	 		margin: 0;
	 	}

	 }



	 .portfolio-image-list{

	 	img {
	 		width: 100%;
	 	}

	 }

	 .next-project{
	 	text-align: center;
	 	font-size: 2em;
	 	padding: 2em 0;
	 	a{
	 		padding: 2em;
		 	&:hover{
		 		background: #eee;
		 	}
	 	}


	 }

}

.main-content{
	.tag-nav{
		padding: 0;
	}
}
