.staff-content{

	.staff-title{
		text-align: center;
		padding: 0;
		margin: 0;
		padding-bottom: 20px;
	}
	.staff-link:hover:before {
		border: none;
	}

	.staff-team.first{
		padding-top: 20px;
		
	}
	.staff-work-list{
		margin: 0;
		li{
			margin: 5px;
		}

		img{
			width: 100px;
			@media #{$large-up}{
				width: 200px;
			}

			-webkit-filter: none;
			-moz-filter: none;
			filter: none;

		}

		&.alumni{
			img{
				width: 75px;
				@media #{$large-up}{
					width: 100px;
				}
			}

		}


	}


}