
.staff-single-content{

	.staff-small-info{
		
		@media #{$large-up}{
			/* Old Still might use: */
			float: right;
			width: 30%;
			position: relative;
			z-index: 1000;
			margin-top: -30px;
			background: white;
			padding-top: 15px;
			padding-left: 15px;
			

			/*float: right;
			width: 220px;
			position: relative;
			z-index: 1000;
			margin-top: -102px;
			background: #CDBC49;
			padding-top: 67px;
			padding-left: 0px;
			border-radius: 100%;
			height: 220px;
			color: white;
			text-align: center;
			margin-right: 33px;*/
		}
	}
	.portfolio-card-list{

	 	li{
	 		&:hover{
			 	.portfolio-card-title{
					top: 40%;
				}
				h2{
					font-size: 1.6em;
				}
			}
		}

	}
}