 .filter-container{

 	.portfolio-holder-content{
 		padding-top: rem-calc(20);
 		padding-bottom: 0;
 		padding-left: 0;
 		padding-right: 0;
 	}

 	h3{
 		margin: 0;
 	}

 	.columns{
 		//border-right: 1px solid #ddd;
 	}

 	.staff-filter-list{
 		margin-top: 4px;
 		margin-bottom: 4px;
 		text-align: center;
 		@media #{$large-up}{
 			text-align: right;
 		}
 		img{
 			display: inline;

 			width: 67px;
 			margin: 0px 1px;

 			border-radius: 50%;

 			@media #{$xlarge-up}{
 				width: 67px;
 				margin: 0px 2px;
 			}
 		}

 		a.last{
 			display: inline;
 			@media #{$large-up}{
 				display: none;
 			}
 			@media #{$xlarge-up}{
 				display: inline;
 			}
 		}

 		 a.more-staff-link{
 			img{
 				width: 32px;
 			}
 		}

 	}

 }

.topics{
	background: #f4f4f4;
}

.topics.active-tags{
	padding-left: $column-gutter/2;
	padding-right: $column-gutter/2;
	.row{
		max-width: $portfolio-width;
	}
}

/* -------------------------------------------------------
NAVIGATION OVERRIDES
---------------------------------------------------------- */
.nav-main a {
	@media (min-width: $break-medium) {
		padding-left: .9em;
		padding-right: .9em;
	}
	@media (min-width: $break-large) {
		padding-left: 1.20em;
		padding-right: 1.20em;
	}
	@media (min-width: $break-xlarge) {
		padding-left: 1.8em;
		padding-right: 1.8em;
	}
}

    .b-lazy {
        -webkit-transition: opacity 500ms ease-in-out;
           -moz-transition: opacity 500ms ease-in-out;
             -o-transition: opacity 500ms ease-in-out;
                transition: opacity 500ms ease-in-out;
                 max-width: 100%;
                   opacity: 0;
    }
    .b-lazy.b-loaded {
                   opacity: 1;
    }
 