 .filter-container{

 	.portfolio-holder-content{
 		padding-top: rem-calc(20);
 		padding-bottom: 0;
 		padding-left: 0;
 		padding-right: 0;
 	}

 	h3{
 		margin: 0;
 	}

 	.columns{
 		//border-right: 1px solid #ddd;
 	}

 	.staff-filter-list{
 		margin-top: 4px;
 		margin-bottom: 4px;
 		text-align: center;
 		@media #{$large-up}{
 			text-align: right;
 		}
 		img{
 			display: inline;

 			width: 67px;
 			margin: 0px 1px;

 			border-radius: 50%;

 			@media #{$xlarge-up}{
 				width: 67px;
 				margin: 0px 2px;
 			}
 		}

 		a.last{
 			display: inline;
 			@media #{$large-up}{
 				display: none;
 			}
 			@media #{$xlarge-up}{
 				display: inline;
 			}
 		}

 		 a.more-staff-link{
 			img{
 				width: 32px;
 			}
 		}

 	}

 }

 .portfolio-holder-content {
     border-right: none;
	 max-width: 1600px;
	 margin: auto;
	 padding: rem-calc(20);

	 h1{
	 	text-align: center;
	 }

	 h2{
	 	text-transform: uppercase;
	 	a {
	 		color: #333;
	 	}
	 }

	 .tag-nav{
	 	margin-left: 0;
	 	padding-left: 0;
	 	margin-top: 0;
	 	text-align:center;
	 	li{
	 		a{
	 			background: #E7E7E7;
	 		}
	 		margin-bottom: 0;
	 	}
	 	li a.clear-filters{
	 		background: none;
	 		&:before{
	 			content: 'X';
	 			padding-right: 6px;
	 		}
	 	}

	 	li a.active{
	 		background: #ffce39;
	 	}
	 }

	 .row{
	 	width: 100%;
	 	max-width: 100%;
	 	background: none;
	 }

}

.main-content{
	.tag-nav{
		padding: 0;
	}
}