
.staff__coin-list{
	list-style: none;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	li {
		margin: 0;
		width: 150px;
		padding: 10px;
		@include breakpoint(medium) {
			padding: 15px;
			width: 290px;
		}
	}
	img {
		margin-bottom: 5px;
		width: 100%;
		// border-radius: 50%;
		&:hover{
		   cursor: pointer;
		}
	}
	& a:hover, & a:focus {
		text-decoration: underline;
	}
}

.staff__coin-list--alumni {
	.staff-position{
		display: none;
	}
}

.staff__link{
	display: block;
}
.staff-position {
	display: inline-block;
}

