.campaign{

}

//Image Group Headers
.campaign__image-group-header{
	font-size: rem-calc(48);
	border-bottom: 3px solid #333;
	&--facebook{
		border-color: #3B5998;
		color: #3B5998;
	}
	&--twitter{
		border-color: #2aa3ef;
		color: #2aa3ef;
	}
	&--instagram{
		position: relative;
		border: none;
		color: #e04069;
		  &:after{
		  	    content:'';
			    width:100%;
			    position: absolute;
			    left:0;
			    bottom:-3px;
			    height: 3px;
			    background: #333;
			    background:radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
		  }
	}
}

//Image Headers (image dimensions + download button)

.campaign__image-header{
	padding: rem-calc(15);
	background: #333;

	&--facebook{
		background: #3B5998;
	}

	&--twitter{
		background: #2aa3ef;
	}

	&--instagram{
		background:radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
	}
}

.campaign__image-desc{
	padding: 4px 0;
	margin: 0;
	font-size: rem-calc(16);
}

//Images
.campaign__image-container{
	padding: rem-calc(20) 0;
	margin: rem-calc(10) 0;
	border-bottom: 3px dashed #eee;

}
.campaign__image{
	width: 100%;
	padding: rem-calc(20);
	background-color: #eee;
	background-image: url('../images/campaigns/grid.png');
	
}

.campaign__save{
	&:hover{
		color: #ddd;
		border-color: #ddd;
	}
}

//Sidenav Items
.campaign__sidenav-item{
	border-bottom: none;
}
.campaign__sidenav-item--facebook{
	background: #3B5998;
}
.campaign__sidenav-item--twitter{
	background: #2aa3ef;
}
.campaign__sidenav-item--instagram{
	background:#e04069;
}
.campaign__sidenav-item--email{
	background: #666;
}

//Sidenav Links
.campaign__sidenav-link{
	color: white;
	font-weight: bold;
	&:hover{
		color: #ddd;
	}	
}
.campaign__sidenav-link--facebook{

}
.campaign__sidenav-link--twitter{
	color: white;
	font-weight: bold;
}
.campaign__sidenav-link--instagram{
	color: white;
	font-weight: bold;
}
.campaign__sidenav-link--email{
	color: white;
	font-weight: bold;
}
